.endScreenContainer {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	overflow-y: hidden;
	height: calc(100% - 80px);
	z-index: 1;
}

.endScreenContainer>canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: blur(10px);
}

.videoQueueContainer {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

.videoQueueContainer>div>span {
	font-size: 1.2em;
}

.videoQueueContainer>div>div:hover {
	background-color: rgb(70, 70, 70);
}

.videoQueueContainer>div>svg {
	width: 1.8rem;
	height: 1.8rem;
}

.videoQueueContainer>div {
	position: relative;
	display: block;
	padding: .5rem 0.5rem .5rem 1rem;
	margin-bottom: -1px;
	background-color: rgb(48, 48, 48);
	border: 1px solid #444;
}

.videoQueueContainer>div :last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.videoQueueContainer>div:first-child {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.videoQueueContainer>div>div {
	padding: .5rem 0 .5rem 0.5rem;
	cursor: pointer;
	border: 1px solid rgba(70, 70, 70, 0.8);
	text-align: center;
	display: flex;
	align-items: center;
	height: 5rem;
	transition: background-color .3s;
	background-color: rgba(70, 70, 70, 0);
}

.videoQueueContainer>div>div>canvas {
	max-width: 7.5rem;
}

.videoQueueContainer>div>div>svg {
	height: 30px;
	min-width: 30px;
	max-width: 30px;
	align-self: flex-start;
	margin-top: 0.3rem;
}

.videoQueueContainer>div>div>* {
	flex-grow: 1;
	white-space: nowrap;
}

.thumbnailCanvas {
	width: 100%;
	height: 100%;
}

.thumbnailCanvasContainer {
	background: rgba(30, 30, 30, 0.9);
	border-radius: 5px;
	padding: 5px;
	transform: translateY(calc(-100% - 40px));
	display: grid !important;
	grid-gap: 10%;
	grid-template-columns: 1fr 1fr;
	opacity: 1;
	transition: all 0s, opacity .15s !important;
	will-change: opacity;
	max-width: 30vw;
	max-height: 15vh;
}

.thumbnailCanvasContainer.hidden {
	opacity: 0;
	pointer-events: none;
}

.thumbnailCanvasTitle {
	display: flex !important;
	justify-content: space-evenly;
	flex-direction: column;
	overflow: hidden;
}

.nextEpisodeIcon {
	float: left;
	width: 35px;
	height: 100%;
	cursor: pointer;
	z-index: 1;
}

.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
