.modal {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container {
    display: block;
}

.container>div>*:not(:first-child) {
    margin-top: 1rem;
}

.removeAnimeButton {
    cursor: pointer;
}

.removeAnimeButton:hover {
    text-decoration: underline;
}