.content_wrapper {
    height: 250px;
    overflow: hidden;
}

.content {
    text-overflow: ellipsis;
    padding: 0 1.55rem 5rem;
}

.container:hover .content_wrapper {
    overflow: visible;
}

.container:hover .content {
    position: absolute;
    z-index: 2;
}