.container {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow-x: hidden;
	z-index: 1;
	border-radius: 0;
	border: none;
}

.container::-webkit-scrollbar {
	width: 0 !important
}

.animeInfo {
	position: absolute;
	left: 0;
	top: 100%;
	min-height: 100%;
}