.bottomSlider *:not(path) {
    user-select: none;
    position: relative;
    display: block;
}

.wrapper * {
    transition: inherit;
}

.progress,
.progressShadow {
    transform-origin: 0;
    transform: translate(0);
    background: rgb(255, 0, 0);
    position: absolute !important;
    height: 2px;
    left: 0;
    width: 100%;
    top: 50%;
    z-index: 4;
    transition: all 0.1s
}

.progressContainer {
    overflow: hidden;
    left: 10px;
    position: relative;
    height: 100%;
}

.progress {
    transform: scale(0);
    will-change: transform;
}

/* .progressContainer:active .progress {
    transition: all 0.1s !important;
} */

.progressContainer:hover .progress {
    background: rgb(255, 0, 0);
}

.progressContainer:hover .progressCircle,
.progressContainer:active .progressCircle {
    opacity: 1;
}

.progressCircle {
    position: absolute !important;
    opacity: 0;
    transition: all 0s;
    z-index: 7;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgb(255, 0, 0);
    top: calc(50% - 5px);
    margin-left: -5px;
}

.progressShadow {
    width: 100%;
    background: rgb(100, 100, 100);
    z-index: 2;
}

.progressWrapper {
    width: calc(100% - 20px);
    left: 10px;
    height: 100%;
}

.bottomSlider {
    z-index: 2;
    transition: all 0.35s;
    position: absolute;
    width: 100%;
    cursor: auto;
    height: 40px;
    left: 0;
    font-size: 16px;
    bottom: 0;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 95%, rgb(0, 0, 0) 100%);
}

.wrapper {
    box-sizing: border-box;
    outline: none;
    top: 0;
    left: 0;
    transition: all 0.5s, border 0s, margin 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
}

.wrapper svg:hover {
    fill: rgb(255, 255, 255);
    opacity: 1;
}

.wrapper svg {
    fill: rgb(200, 200, 200);
    opacity: .9;
    transition: all .25s !important;
}

.playPauseButton,
.next,
.previous {
    cursor: pointer;
    float: left;
    left: 5px;
    height: 100%;
    max-width: 35px;
}

.timeDisplayer {
    font-size: 100%;
    float: left;
    left: 10px;
    height: 100%;
    user-select: text !important;
    cursor: default;
    align-items: center;
    display: flex !important;
}

.fullScreen {
    cursor: pointer;
    position: relative;
    float: right;
    width: 40px;
    height: 100%;
    margin-left: -6px;
}

.settings {
    float: right;
}

.settings svg {
    float: right;
    cursor: pointer;
}

.settings svg:hover {
    transform: rotate(60deg);
}

.settingsMenu {
    position: absolute !important;
    top: 0;
    right: 0;
    transform: translateY(-100%);
}

.settingsWindow>ul {
    margin: 10px 0 10px 0;
}

.settingsWindow {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8%;
    overflow: hidden;
}

.settingsWindow * {
    white-space: nowrap;
}

.settings {
    outline: none;
}

.settings li:hover {
    background: rgba(255, 255, 255, 0.3);
}

.settings li {
    display: table;
    cursor: pointer;
    width: calc(100% - 10px);
    padding: 10px 0 10px 10px;
}

.settings li div {
    display: table-cell;
    width: 50%;
    padding: 5px 4px;
}

.settingsList {
    padding: 0 10px 0 15px;
}

.settingsListGoBack div {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTAwJSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIxMDAlIj48cGF0aCBkPSJNIDE5LjQxLDIwLjA5IDE0LjgzLDE1LjUgMTkuNDEsMTAuOTEgMTgsOS41IGwgLTYsNiA2LDYgeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 27px !important;
}

.settingsListGoBack {
    border-bottom: rgba(255, 255, 255, 0.6) solid 1px;
}

.settingsWindow>ul:nth-child(2) {
    transform: translateX(100%);
}

.settingsListGoBack {
    border-bottom: rgba(255, 255, 255, 0.6) solid 1px;
}

.subsDelayChooser {
    width: 3em;
    border: 0;
}

.timeTooltip {
    position: absolute !important;
    top: -25%;
    opacity: 0;
    display: none;
    color: white;
    background: black;
    font-size: 13px;
    width: 47px;
    transform: translate(-50%, -50%);
    transition: all 0s;
    box-shadow: 0 0 15px 2px rgba(180, 180, 180, 0.4);
    text-align: center;
    padding: 4px;
    z-index: 2;
}

.timeTooltip:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.queueContainer,
.commentsContainer {
    background: rgb(40, 40, 40);
    z-index: 2;
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: calc(100% - 80px);
    transition: width .5s;
}

.skipButtonContainer {
    position: absolute;
    right: 5%;
    bottom: calc(40px + 5%);
    z-index: 2;
}

.videoName {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 40px;
    margin: 10px;
    margin-top: 0;
    position: relative;
    font-size: 175%;
    cursor: pointer;
    border: 0;
    color: white;
    width: 100%;
}

.wrapper.fullscreened .videoName {
    font-size: 27px;
}

.topSlider:hover {
    z-index: 9;
}

.queueButton,
.commentsButton,
.exitCastButton {
    pointer-events: all;
    display: inline;
    cursor: pointer;
    height: 100%;
}

.exitCastButton {
    float: right;
    margin-right: .3rem;
}

.commentsButton {
    float: right;
    margin-right: 2rem;
}

.topSlider {
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 95%, rgb(0, 0, 0) 100%);
    position: absolute;
    overflow: hidden;
    transition: all 0.35s;
    height: 40px;
    top: 0;
    color: white;
    width: 100%;
}

.queueButton>svg,
.commentsButton>svg,
.exitCastButton>svg {
    height: 100%;
}

.commentsContainer {
    right: 0 !important;
    overflow-x: auto;
    left: auto !important;
}

.tooltipThumbnail {
    height: 0;
    width: 0;
    background: rgba(0, 0, 0, 0.7);
    position: absolute !important;
    top: -110%;
    transition: all 0s;
}

.tooltipThumbnail canvas {
    transform: translate(-50%, -50%);
}