.maluserimg {
	max-width: 100%;
}

.userimg {
	max-width: 100%;
}

.sig {
	border-color: rgb(102, 102, 102);
	display: block;
	padding-top: 10px;
	border-style: solid;
	border-width: 1px 0px 0px;
	margin-top: 5px;
	max-height: 160px;
	overflow: hidden;
	width: 100%;
}

.quotetext, .replied.show {
	border: 1px solid #555;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-top: 5px;
	padding: 10px 15px;
}